.wrapper {
    background: $theme_dark;
    position: fixed;
    width: 100%;
    font-family: $font_El;
}

.wrapper nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

nav .content {
    display: flex;
    align-items: center;
}

nav .sign {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

nav .sign button {
    font-family: $font_El;
    font-size: 20px;
    font-weight: 500;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 3px 18px;
    cursor: pointer;
    margin: 6px;
    transition: all 0.2s ease;
}

nav .sign button:hover {
    font-weight: 700;
    border: 2px solid #fff;
}

nav .content .links {
    margin-left: 80px;
    display: flex;
}

.content .img_lg {
    width: 40px;
}

.content .logo a {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.content .links li {
    list-style: none;
    line-height: 60px;
}

.content .links li a,
.content .links li label {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.content .links li label {
    display: none;
}

.content .links li a:hover,
.content .links li label:hover {
    font-weight: 700;
    text-decoration: underline;
}

.wrapper .search-icon,
.wrapper .menu-icon {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 20px;
    width: 60px;
    text-align: center;
}

.wrapper .menu-icon {
    display: none;
}

// Style for the search-bar
.wrapper .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 60px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    background: $light_black;
    padding: 0 100px 0 15px;
}

.search-box input::placeholder {
    color: #f2f2f2;
}

.search-box .go-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    width: 70px;
    background: $light_black;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.wrapper input[type='checkbox'] {
    display: none;
}


/* Dropdown Menu code start */

.content .links ul {
    position: absolute;
    background: $theme_dark;
    top: 60px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.content .links li:hover>ul {
    top: 60px;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;
    border-top: 1px solid $light_black;
}

.content .links ul li a {
    display: block;
    width: 100%;
    line-height: 20px;
    border: 1px solid $light_black;
    border-top: 0px;
    border-radius: 0px !important;
}

.content .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 11.5px);
}

.content .links ul li {
    position: relative;
}

.content .links ul li:hover ul {
    top: 0;
}


/* Responsive code start */

@media screen and (max-width: 1250px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }
    nav .content .links {
        margin-left: 30px;
    }
    .content .links li a {
        padding: 8px 13px;
    }
    .wrapper .search-box {
        max-width: calc(100% - 100px);
    }
    .wrapper .search-box input {
        padding: 0 100px 0 15px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper .menu-icon {
        display: block;
    }
    nav .content .links {
        display: block;
        position: fixed;
        background: $theme_dark;
        height: 100%;
        width: 100%;
        top: 60px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        border-top: 1px solid $light_black;
        border-right: 1px solid $light_black;
        transition: all 0.4s ease;
    }
    nav #show-menu:checked~.content .links {
        left: 0%;
    }
    .content .links li {
        margin: 12px 0px;
    }
    .content .links li a,
    .content .links li label {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
        border-bottom: 1px solid $light_black;
        border-radius: 0px;
    }
    .content .links li a.desktop-link {
        display: none;
    }
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .content .links #show-features:checked~ul,
    .content .links #show-services:checked~ul,
    .content .links #show-items:checked~ul {
        max-height: 100vh;
        border: none;
    }
    .content .links ul li {
        margin: 7px 0px;
    }
    .content .links ul li a {
        font-size: 18px;
        line-height: 35px;
        border: none;
        border-bottom: 1px solid $light_black;
        border-radius: 0px !important;
    }
}

@media screen and (max-width: 763px) {
    nav .sign {
        margin-right: 2px;
    }
    nav .sign button {
        font-size: 18px;
        border-radius: 16px;
        padding: 2px 16px;
    }
}

@media screen and (max-width: 400px) {
    .wrapper nav {
        padding: 0 10px;
    }
    .content .logo a {
        font-size: 27px;
    }
    .wrapper .search-box {
        max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon {
        width: 30px;
        right: 0;
    }
    .wrapper .search-box input {
        padding-right: 30px;
    }
    nav .sign button {
        font-size: 15px;
    }
}