.signin {
    font-family: $font_El;
    background: $grey;
    padding-top: 85px;
}

.signContainer {
    padding-bottom: 6rem;
    background-image: url('./../../assets/images/login.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    @include displayflex;
    justify-content: center;
}

.signWrapper {
    padding: 3rem 4rem 4rem;
    margin: 5rem 2rem 1rem;
    border-radius: 10px;
    box-shadow: 0 40px 80px #02021a24;
    background: #fff;
    width: 30rem;
    h2 {
        margin: 0;
        font-size: 2.5rem;
        text-align: center;
    }
    a {
        color: $darkgrey;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .pl {
        color: $darkgrey;
        margin-bottom: 1.5rem;
        text-align: center;
    }
}

.signForm {
    margin-top: 2rem;
}

// Text In Input fields 
.signInput {
    margin-bottom: 1.5rem;
    label {
        font-size: 1.05rem;
        font-weight: 500;
        color: $black;
        cursor: pointer;
    }
    input {
        width: 100%;
        height: 60px;
        line-height: 50px;
        padding: 0 15px;
        font-size: 15px;
        background: #f6f6f7;
        color: $black;
        border-radius: 8px;
        outline: none;
        border: none;
    }
    p {
        color: red;
        font-size: 15px;
    }
}

.invalid {
    color: red;
    font-size: 15px;
    text-align: center;
    margin: auto;
}

.signupBtn {
    @include sitebutton;
    display: inline-block;
    line-height: 40px;
    width: 100%;
    margin: 12px 0px;
}

.signupBtn:hover {
    transition: all .3s ease-out 0s;
    box-shadow: 0 3px 10px rgba(43, 78, 255, 0.4);
}

.signupText {
    margin-top: 20px;
    text-align: center;
    a {
        color: $navbar_color;
    }
}

@media (max-width: 550px) {
    .signWrapper {
        padding: 2.5rem 2.5rem 4rem;
        margin: 4rem 1rem 1rem;
        width: 27rem;
        h2 {
            font-size: 1.8rem;
        }
        a {
            font-size: 15px;
        }
    }
    .signInput {
        label {
            font-size: 1rem;
        }
        input {
            height: 50px;
        }
    }
}