.sign{
    font-family: $font_El;
}
.signContainer{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signContainer h2{
    padding: 50px 0;
    width: 15rem;
    font-size: 2rem;
    text-align: center;
}
.signWrapper{
padding: 50px 70px 45px;
    margin: 0 30px;
    border-radius: 10px;
    box-shadow: 0 40px 80px #02021a24;
    // z-index: 11;
}

.signHeader{
    text-align: center;
    margin-bottom: 35px;
        padding: 0 35px;
}
.signSocial{
        height: 50px;
        background: #eeedf2;
        border-radius: 6px;
        line-height: 50px;
        overflow: hidden;
        font-size: 16px;
        color: #adadae;
        padding:15px 20px;
}
.googleIcon{
    margin-right: 10px;
    width: 20px;
    font-size: 16px;
}
.signHeader p{
    padding-top: 20px;
    color: #adadae;
}

.signInput h5{
        font-size: 16px;
            font-weight: 500;
            color: #0e1133;
            margin-bottom: 11px;
        
}
.signInput{
    margin-bottom: 25px;
    input{
    width: 100%;
        height: 60px;
        line-height: 50px;
        padding: 0 15px;
        font-size: 14px;
        border: 2px solid transparent;
        background: #f6f6f7;
        color: #0e1133;
        border-radius: 6px;
        outline: none;
    font-family: $font_El;
    }
}
.signupBtn{
        display: inline-block;
            height: 50px;
            line-height: 52px;
            text-align: center;
            padding: 0 25px;
            color: #fff;
            background: rgb(43, 78, 255);
            border-radius: 4px;
            font-weight: 500;
            outline: none;
            border:none;
            width: 100%;
            cursor: pointer;
    font-family: $font_El;
}
.signupBtn:hover{
        transition: all .3s ease-out 0s;
        box-shadow: 0 3px 10px rgba(43, 78, 255, 0.4);  
}
.signupText{
    margin-top: 20px;
    text-align: center;
}
.link{
    color: rgb(43, 78, 255);;
}
.signInput p{
    color: red;
    font-size: 14px;
}

@media (max-width: 480px) {
.signSocial {
        height: 44px;
        background: #eeedf2;
        border-radius: 6px;
        line-height: 38px;
        overflow: hidden;
        font-size: 12px;
        color: #adadae;
        padding: 12px 14px;
    }
    .googleIcon{
        width: 20px;
        font-size: 12px;
        margin-right: 2px;
    }
    .signHeader p{
        font-size: 12px;
    }
}

@media (max-width: 426px) {
    .signSocial{
        padding: 5px 7px;
    }
}

@media (max-width: 411px) {
    
}