@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Open+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    //extra
    background-color: #f2f2f2f2;
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #fcfcfc;
    border-radius: 0.5rem;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}