.add-course-container {
    font-family: $font_El;
}

.add-course-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #0C0F33;
    .backBtn {
        margin-right: 6rem;
        font-size: 1.6rem;
        cursor: pointer;
        margin-top: .5rem;
    }
} 

 .add-course-body {
     display: flex;
     align-items: center;
    justify-content: center;
    background-color: #DBE2F7;
}

.add-course-form-container {
    width: 100%;
    max-width: 1200px;
    margin: 0.8rem;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: white;
    h1 {
        
        text-align: center;
        padding-bottom: 1rem;
    }
}

.add-course-form-container .fields {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: .8rem;
    margin: 8px 0 2rem 0;
    flex-wrap: wrap;
}

.add-course-form-container .fields .inputField {
    display: flex;
    flex-direction: column;
    // width: calc(100% /3 - 10px);
    width: 290px;
}

.add-course-Input {
    margin-bottom: 1.2rem;
    label {
        font-size: 1rem;
        font-weight: 500;
        color: $black;
        cursor: pointer;
    }
    input {
        @include siteinputbox;
    }
    textarea {
        @include siteinputbox;
        height: 100px;
    }
}
//radio
  .add-course-radio {
     margin-bottom: 1.2rem;
     label {
         font-size: 1em;
         font-weight: 500;
         color: $black;
         cursor: pointer;
     }
 }



//upload button
.add-course-uploadBtn {
    // margin-top: 1rem;
    position: relative;
    all: none;
    cursor: pointer;
    padding: .5rem 0;
    background-color: transparent;
}

.btn input {
    width: 100px;
    border: none;
}

.add-course-uploadBtn::before {
    width: 100%;
    font-family: $font_El;
    height: 100%;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    content: 'Choose File';
    background-color: #0C0F33;
    display: flex;
    align-items: center;
    justify-content: center;
}



.course-submit-btn {
    @include sitebutton;
    display: inline-block;
    line-height: 2rem;
    width: 100%;
    margin: 12px 0px;
    box-sizing: border-box;
    padding: 5px;
}

.star {
    color: red;
}

#idImage {
    font-size: 14px;
    color: red;
    display: inline-block;
}

#loader-reg {
    width: 2.8rem;
    align-items: center;
    margin-bottom: -1rem;
    margin-right: 2rem;
    display: none;
}

@media (max-width: 943px) {
    .instructorForm .fields {
        justify-content: space-between;
    }
}

@media (max-width: 660px) {
    .instructorForm .fields {
        justify-content: center;
    }
    .instructorForm .fields .inputField {
        width: 100%;
    }
}