.addcoursebyinstructor {
  margin: 0px 1rem 3.6rem;
  font-family: $font_El;
  h1 {
    padding: 1.2rem 1rem 0.8rem;
    font-size: 2.3rem;
    text-align: center;
  }
}

.assignedtaskpreview {
  width: 100%;
  .asstskdecp {
    padding: 2px 1rem;
    text-align: justify;
  }
  .assignedtaskpreview_inner {
    @include displayflex;
    flex-wrap: wrap;
    padding: 3px;
    p {
      padding: 1rem;
    }
  }
}

.assignedtaskpreviewdefine {
  font-size: 1.4rem;
  padding: 1.2rem 1rem 0.8rem;
  text-decoration: underline;
}

.submitassigntask {
  @include displayflex;
  justify-content: center;
  margin: 2rem 1rem;
  button {
    @include sitebutton;
  }
  button:last-child {
    background-color: $success;
  }
}

.se-wrapper {
  min-height: 45vh;
}

.makedivision {
  background-color: #fefefe;
  border: 1px solid rgba(0, 0, 0, 0.2);

  padding: 1rem;
  form {
    input {
      height: 46px;
      background-color: #f9f9f9;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}
// .sun-editor .se-toolbar {
//     z-index: 1 !important;
// }
