.edit-course-container{
    margin: 0px 5% 0% 10%;
}

.video-form-container{
   border: 2px solid black;
   z-index: 99;
   position: absolute;
   top: 300px;
   background-color: antiquewhite;
   display: none;
}
.article-modal-container{
    background-color: antiquewhite;
    display: none;

}