.studWrapper {
    font-family: $font_El;
    display: flex;
    background-color: rgb(188 201 241 / 54%);
}

.sidebarMenu {
    padding-top: 2rem;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebarMenuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: .5rem;
    transition: all 300ms ease;
    border-radius: 0.7rem;
    cursor: pointer;
}

.sidebarHeading {
    padding: 2px 0px 0px;
}

// side bar element on active
.act {
    color: white;
    background-color: #2B4EFF;
    margin-left: 0;
    padding-right: 12px;
}

.act::before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: #171C24;
    margin-right: calc(.5rem - 6px);
}

@media screen and (max-width:1360px) {
    .sidebarMenu {
        width: auto;
    }
    .sidebarHeading {
        display: none;
    }
}