.studWrapper {
    font-family: $font_El;
    display: flex;
    background-color: rgb(240 242 250 / 54%);
    
}

.sidebarMenu {
    padding-top: 2rem;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebarMenuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: .5rem;
    transition: all 300ms ease;
    border-radius: 0.7rem;
    cursor: pointer;
}

.sidebarHeading {
    padding: 2px 0px 0px;
}

// side bar element on active
.act {
    color: white;
    background-color: #2B4EFF;
    margin-left: 0;
    padding-right: 12px;
}

.act::before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: #171C24;
    margin-right: calc(.5rem - 6px);
}

.sidebartoggler {
    display: none;
}

.hiderslider {
    display: flex;
}

@media screen and (max-width:1360px) {
    .sidebartoggler {
        display: block;
        position: absolute;
        top: 7.72rem;
        left: 1.25rem;
        cursor: pointer;
        z-index: 5;
    }
    .hiderslider {
        display: none;
    }
    .sidebarMenu {
        position: absolute;
        z-index: 2;
        height: 100%;
        padding-top: 5.5rem;
        background-color: rgba(188, 201, 241, 2);
        -webkit-box-shadow: inset 1px 0px 4px 1px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 1px 0px 4px 1px rgba(0, 0, 0, 0.5);
        box-shadow: inset 1px 0px 4px 1px rgba(0, 0, 0, 0.5);
    }
}