.DashProfileContainer {
    font-family: $font_El;
    padding: 2rem 1rem 1.2rem;
    background-color: #fff;
    color: $dash;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 1px 2px 8px #888888;
    p {
        border-bottom: 1px solid $dash;
        margin-bottom: 3px;
    }
}

.DashProfileImage {
    padding: 1.4rem 1rem 0.75rem;
    @include displayflex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    .ImageUploaderContainer {
        position: relative;
        margin: 0.4rem;
        .Profileimage {
            border-radius: 0.6rem;
            width: 160px;
            display: block;
        }
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 160px;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 0.6rem;
            @include displayflex;
            justify-content: center;
            flex-direction: column;
            svg {
                font-size: 2.5rem;
                color: rgba(0, 0, 0, 0.6);
                margin-top: 40px;
            }
            svg:hover {
                color: rgba(0, 0, 0, 0.9);
            }
            label:hover {
                cursor: pointer;
            }
        }
    }
    input[type=file] {
        visibility: hidden;
    }
}

.ImageUploaderContainer:hover .overlay {
    opacity: 1;
}

.DetailsContainer {
    margin: 0px 3rem;
    h1,
    h2 {
        color: $navbar_color;
        text-transform: capitalize;
        margin: 0px 0.8rem;
    }
    h2 {
        margin-top: 5px;
    }
    p {
        border: none;
        color: $darkgrey;
        text-transform: capitalize;
        text-align: justify;
        margin: 0.9rem;
    }
}

.aboutpro {
    margin-bottom: 2rem;
    p {
        text-transform: none !important;
    }
}

.SA_container {
    width: 500px
}

.SchoolingContainer,
.AddressContainer {
    @include displayflex;
    flex-wrap: wrap;
}

.DashProfileButton {
    width: 100%;
    text-align: center;
    button {
        @include sitebutton;
    }
}

#addProfileImagename {
    font-size: 15px;
    font-weight: 600;
    width: 150px;
    overflow: hidden;
}

// Modal if the Update Profile Page
.modal-profile {
    position: relative;
    background-color: #fefefe;
    margin: 1vh auto auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 98vw;
    height: 120vh;
    border-radius: 6px;
    div {
        padding: 2px;
        font-family: $font_El;
        h1 {
            margin-bottom: 1rem;
            color: $darkgrey;
            text-align: center;
        }
        h2 {
            color: $navbar_color;
            border-bottom: 1px solid $navbar_color;
        }
        button {
            @include sitebutton;
        }
    }
}

.modal-input-container {
    @include displayflex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0px;
    input,
    select {
        height: 50px;
        width: 290px;
    }
}

.close_profile {
    right: 1rem;
    font-size: 2.3rem;
}