.statsCounter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.statsCounterWrapper{
    padding: 1.85rem;
    background-color: #d7ecfd;
    border: 1px solid #aaa;
}
.stats {
    display: flex;
    margin: 0px 0.5rem;
    gap: 1rem;
    align-items: center;
    font-weight: 700;
}
.statsIcon{
    font-size: 4rem;
    color: #0C0F33;     
}
.statsData{
    color: #0C0F33;
    font-size: 1.5rem;
}
