.instructor{
    font-family: $font_El;
}
.instructorHeader{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #0C0F33;
   .logoutBtn{
    margin-right: 6rem;
    font-size: 1.6rem;
    cursor: pointer;
    margin-top: .5rem;
}
}
.instructorWrapper{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#DBE2F7;
}
.instructorForm{
    width: 100%;
    max-width: 900px;
    margin: 3rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background-color: white;
    h3{
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 1rem;
    }
}
.instructorForm .fields{
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    gap:.8rem;
    margin: 8px 0 2rem 0;
    flex-wrap: wrap;
}
.instructorForm .fields .inputField{
    display: flex;
    flex-direction: column;
    width: calc(100% /3 - 10px);
}
.inputField label {
    font-size: 12px;
    font-weight: 500;
}
.inputField input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid #aaa;
    outline: none;
    // background-color: #E3E3E3;
    padding:0 10px;
    font-size: 14px;
    margin: 8px 0;
}
// .inputField input:is(:focus, :valid){
//     box-shadow: 0 3px 6px rgba(0,0,0,.3);
// }

//upload button
.uploadBtn{
    // margin-top: 1rem;
    position: relative;
    all: none;
    cursor: pointer;
    width: 40%;
    padding: .5rem 0;
    background-color: transparent;
}
.btn input{
    width: 40%;
    border: none;
}

.uploadBtn::before{
    width: 100%;
    font-family: $font_El;
    height: 100%;
    color: white;
    position: absolute;
    top:0;
    left: 0;
    content: 'Upload File';
    background-color: #0C0F33   ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instructorForm .title{
    font-weight: 500;
    color: rgb(134, 133, 133);
}
.instructorRegisterBtn{
    text-align: center;
}
.registerBtn{   
    @include sitebutton;
            display: inline-block;
            line-height: 40px;
            width: 20%;
            margin: 12px 0px;
}
.star{
    color: red;
}