.not-enrolled-course{
  font-family: $font_El;
  height: 85vh;
  @include displayflex;
  justify-content: center;
}

.course-content-navbar {
  margin: 1.2rem 0px 0px;
  .edit-course-container-btnchanger{
    width: 100%;
  }
  
}



.article-content-display-btn {
  margin-left: 20%;
}
.article-content-container {
  margin: 20px;
  ul li {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    color: black;
    border: 1px solid gray;
    padding: 20px;
  }
  ul li:hover {
    cursor: pointer;
  }
  span {
    position: relative;
    float: right;
    font-size: 20px;
  }
}
.articleDisplaycontainer {
  text-decoration: none;
  margin: 0px;
  color: black;
  border: 1px solid gray;
  padding: 20px 10px 30px 10px;
  display: none;
  overflow: scroll;
}
